<%- include("partials/header") %> 
  <!-- Start menu section -->
  <%- include("partials/menu") %> 
 
  <!-- End menu section -->

  <!-- Start Proerty header  -->

  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Properties Page</h2>
            <ol class="breadcrumb">
            <li><a href="/">HOME</a></li>            
            <li class="active">PROPERTIES</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">
            <!-- start properties content head -->
            <div class="aa-properties-content-head">              
              <div class="aa-properties-content-head-left">
                <form action="" class="aa-sort-form">
                  <label for="">Sort by</label>
                  <select name="">
                    <option value="1" selected="Default">Default</option>
                    <option value="2">Name</option>
                    <option value="3">Price</option>
                    <option value="4">Date</option>
                  </select>
                </form>
              
              </div>
              <div class="aa-properties-content-head-right">
                <a id="aa-grid-properties" href="#"><span class="fa fa-th"></span></a>
                <a id="aa-list-properties" href="#"><span class="fa fa-list"></span></a>
              </div>            
            </div>
            <!-- Start properties content body -->
            <div class="aa-properties-content-body">
              <ul class="aa-properties-nav">
                <% houses.forEach(house=> { %> 
                <li>
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="/contact/<%=house._id%>">
                      <img alt="img" src="<%=house.image%>">
                    </a>
                    <div class="aa-tag <% if(house.business_type=='rent') {%> for-rent <% } else { %> for-sale <% } %>   ">
                      <%= house.business_type  %> 
                    </div>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                   
                        <span><%= house.num_bedrooms %> Bedrooms</span>
                        <span><%= house.num_bathrooms %> Baths</span>
                        <span><%= house.area %> SQ FT</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#"><%= house.Title  %> </a></h3>
                        <p><%= house.description  %></p>                      
                      </div>
                      <div class="aa-properties-detial">
                        <span class="aa-price">
                          $<%= house.price  %>
                        </span>
                        <a class="aa-secondary-btn" href="/contact/<%=house._id%>">Contact</a>
                      </div>
                    </div>
                  </article>
                </li>
                <% }) %> 
   
              </ul>
            </div>
            <!-- Start properties content bottom -->
            <div class="aa-properties-content-bottom">
              <nav>
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li class="active"><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- Start properties sidebar -->
        <div class="col-md-4">
          <aside class="aa-properties-sidebar">
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
              <h3>Properties Search</h3>
              <form action="/properties" method="get" id="form">
                <div class="aa-single-advance-search">
                  <input type="text" placeholder="Type Your City" name="city" <% if(query) {%> value="<%=query.city %>"<% } %> >
                </div>
                <div class="aa-single-advance-search">
                  <select name="category">
                    <option value="Apartment" <% if(query.category == "Apartment") { %> selected <% } %>  >Apartment</option>
                      <option value="Cottage" <% if(query.category == "Cottage") { %> selected <% } %> >Cottage</option>
                      <option value="Castle" <% if(query.category == "Castle") { %> selected <% } %> >Castle</option>
                      <option value="Villa" <% if(query.category == "Villa") { %> selected <% } %> >Villa</option>
                      <option value="Family house" <% if(query.category == "Family house") { %> selected <% } %> >Family house</option>
                    </select>
                </div>
                <div class="aa-single-advance-search">
                  <select name="type">

                    <option value="rent"  <% if(query.type == "rent") { %> selected <% } %> >Rent</option>
                    <option value="sale" <% if(query.type == "sale") { %> selected <% } %>>Sale</option>
                  
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <select name="bathrooms">
                    <option >Bedrooms</option>
                    <option value="1" <% if(query.bedrooms == "1") { %> selected <% } %> >1</option>
                    <option value="2" <% if(query.bedrooms == "2") { %> selected <% } %>>2</option>
                    <option value="3" <% if(query.bedrooms == "3") { %> selected <% } %>>3</option>
                    <option value="4" <% if(query.bedrooms == "4") { %> selected <% } %>>4</option>
                    <option value="5" <% if(query.bedrooms == "5") { %> selected <% } %>>5</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <select name="bedrooms">
                    <option >Bathrooms</option>
                    <option value="1" <% if(query.bathrooms == "1") { %> selected <% } %>>1</option>
                    <option value="2" <% if(query.bathrooms == "2") { %> selected <% } %>>2</option>
                    <option value="3" <% if(query.bathrooms == "3") { %> selected <% } %>>3</option>
                    <option value="4" <% if(query.bathrooms == "4") { %> selected <% } %>>4</option>
                    <option value="5" <% if(query.bathrooms == "5") { %> selected <% } %>>5</option>
                  </select>
                </div>
                <input type="hidden" name="minPrice">
                <input type="hidden" name="maxPrice">

                <input type="hidden" name="minArea">
                <input type="hidden" name="maxArea">
             
             
                <div class="aa-single-filter-search">
                  <span>AREA (SQ)</span>
                  <span>FROM</span>
                  <span id="skip-value-lower" class="example-val">30.00</span>
                  <span>TO</span>
                  <span id="skip-value-upper" class="example-val">100.00</span>
                  <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>                  
                </div>
                <div class="aa-single-filter-search">
                  <span>PRICE ($)</span>
                  <span>FROM</span>
                  <span id="skip-value-lower2" class="example-val">30.00</span>
                  <span>TO</span>
                  <span id="skip-value-upper2" class="example-val">100.00</span>
                  <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>      
                </div>
                <div class="aa-single-advance-search">
                  <button class="aa-search-btn" id="search"  type="button"><i class="bi bi-search"></i></button>
                </div>
              </form>
            </div> 
            <!-- Start Single properties sidebar -->
      
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- / Properties  -->

  <!-- Footer -->
  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>Designed by <a rel="nofollow" href="http://www.markups.io/">MarkUps.io</a></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="#">Home</a>
                <a href="#">Support</a>
                <a href="#">License</a>
                <a href="#">FAQ</a>
                <a href="#">Privacy & Term</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <script>
    let searchBtn = document.querySelector("#search")
    searchBtn.addEventListener("click",function () {
   
      let minArea= document.getElementById("skip-value-lower").innerText
      let maxArea = document.getElementById("skip-value-upper").innerText
 
      let minPrice = document.getElementById("skip-value-lower2").innerText
      let maxPrice =  document.getElementById("skip-value-upper2").innerText
     
      let form = document.getElementById("form")
      
      form["minPrice"].value=minPrice
      form["maxPrice"].value=maxPrice
      form["minArea"].value=minArea
      form["maxArea"].value=maxArea
     
      form.submit()
   
     })
  </script>
 
  <!-- jQuery library -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <script src="js/jquery.min.js"></script>   
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.js"></script>   
  <!-- slick slider -->
  <script type="text/javascript" src="js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="js/nouislider.js"></script>
   <!-- mixit slider -->
  <script type="text/javascript" src="js/jquery.mixitup.js"></script>
  <!-- Add fancyBox -->        
  <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
  <!-- Custom js -->
  <script src="js/custom.js"></script> 

  </body>
</html>