<%- include("partials/header.ejs") %> 

  <main class="main-content position-relative border-radius-lg ">

     <!-- Navbar -->
     <%- include("partials/navbar.ejs") %> 
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-md-12 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Orders</h6>
              <% if(messages.error) {%> 
              <p style="color: red;">
                   <%= messages.error %> 
              </p>
              <% } %>
              <% if(messages.success) { %>  
              <p style="color: green;">
                  <%= messages.success %> 
              </p>
              <% } %>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                <% orders.forEach(order=>{ %>
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm"><%= order.client.first_name %>  <%= order.client.last_name %> </h6>
                    <span class="mb-2 text-xs">Phone Number: <span class="text-dark font-weight-bold ms-sm-2"><%= order.client.phone%> </span></span>
                    <span class="mb-2 text-xs">Email Address: <span class="text-dark ms-sm-2 font-weight-bold"><%= order.client.email %></span></span>
                    <span class="text-xs"><a href="/property/<%= order.order.houseID %>  %> ">View The House</a></span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0"  href="/order/<%= order.order._id%>/0"><i class="far fa-trash-alt me-2"></i>Rejected</a>
                    <a class="btn btn-link text-dark px-3 mb-0" href="/order/<%= order.order._id%>/1"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Accepted</a>
                  </div>
                </li>
                 <% }) %> 
              </ul>
            </div>
          </div>
        </div>
      
      </div>
 
    </div>
  </main>

  <%- include("partials/footer") %> 